/* shear common style */
body {
    font-family: 'Lato', sans-serif;
}

.btn-primary {
    display: inline-flex;
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0px;
}

.prymary-color {
    color: #E55473;
}

/* header style */
.header {
    display: flex;
    background: #E554731A;
    padding: 30px 30px 0px 150px;;
    justify-content: space-between;
    align-items: center;
}


.header-div {
    gap: 100px;

}

.header-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.header-paragraph {
    color: rgba;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}


/*main style*/
.section-heading {
    text-align: center;
    margin-top: 100px;
}

.section-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.section-description {
    color: rgba;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.flower-section {
    display: flex;
    gap: 25px;
    padding: 30px;
}

.png1 {
    border-radius: 300px 300px 0px 0px;
    background: #A7216226;
    width: 464px;
    height: 538px;
    
}

.png2 {
    border-radius: 300px 300px 0px 0px;
    background-color: #0597A026;
    width: 464px;
    height: 538px;
}

.png3 {
    border-radius: 300px 300px 0px 0px;
    background-color: #477D1126;
    width: 464px;
    height: 538px;
}

.flower-caption,
.colum {
    color: #272727;
    text-align: center;
    text-decoration-line: underline;
}

.hot-del-section {
    display: flex;
    background: #E554730D;
    padding: 150px;
    gap: 200px;
    text-align: center;

}

.hot-description {
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.hot-del-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

/* instra */
.instra-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.instra-description {
    color: #27272799;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.instra-img {
    display: flex;
    margin-top: 45px;
    gap: 25px;
    padding: 25px 50px;
}

.letest-del {
    background: url('../Flower Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    padding: 100px 100px;
    align-items: center;
    
}

.letest-del-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.letest-del-description {
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

input[type=email] {
    border-radius: 8px;
    background: #FFFF;
    padding: 22px 200px 22px 22px;
    border: 0px;
}
.input{
    display: flex;
    gap: 10px;
    background-position: 50%;
    
}
.Subscribe{
    padding: 20px 43px;
    gap: 5px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0px;
}

.footer {
    background: #111010;
    text-align: center;
    padding: 130px 350px;
}

.footer-description {
    color: #FFFFFFE5;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.footer-caption {
    color: #FFFFFF66;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}